.container {
    background-color: var(--azul-escuro-home);
}

/* Area Superior */
.areaSuperiorFooter {
    background-color: var(--azul-claro-home);
    height: 120px;
}

/* Body Footer */
.bodyFooter {
    max-width: 1500px;
    margin: 0 auto;
    color: #fff;
    padding: var(--mid-space) 0px;
}

/* Middle Footer */
.middleFooter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: var(--min-space);
}

/* Left Content */
.leftContent h1 {
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
}

.leftContent h1 b {
    font-size: 64px;
    font-weight: 800;
}

.leftContent p {
    font-weight: 500;
    margin-top: 10px;
}

/* Right Content */
.rightContent h2 {
    font-size: 24px;
    font-weight: 500;
}

/* Social Medias List */
.socialMediasList {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: var(--min-space);
}

.socialMediasList li:not(:last-child) {
    margin-right: 20px;
}

.socialMediasList li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
}

.socialMediasList li a svg {
    fill: var(--azul-claro-home);
    height: 20px;
}

/* Rodape */
.rodape {
    position: relative;
    text-align: center;
    font-size: 15px;
    padding-top: var(--mid-space);
}

.rodape::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #fff;
}