.header {
  /* Styling for the header component */
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 80px 40px 80px;
}

.header::after {
  position: absolute;
  content: '';
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
  transition: .3s;
}

.menu {
  display: flex;
  gap: var(--mid-space);
  align-items: center;
}

.menuList {
  /* Styling for the menu list */
  width: 100%;
  display: flex;
  gap: 40px;
  list-style: none;
}

.cargo {
  /* Styling for the job title */
  text-transform: uppercase;
  opacity: 100%;
  height: 80px;
}

/* Social Medias List */
.socialMediasList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.socialMediasList li:not(:last-child) {
  margin-right: 20px;
}

.socialMediasList li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid var(--azul-claro-home);
  transition: .3s;
}

.socialMediasList li a svg {
  fill: var(--azul-claro-home);
  height: 20px;
  transition: .3s;
}

.socialMediasList li a:hover {
  background-color: var(--azul-claro-home);
}

.socialMediasList li a:hover svg {
  fill: #fff;
}

.menuIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: var(--azul-claro-home);
}

.menuIcon svg {
  height: 24px;
  stroke: #fff;
}

.closeMenu {
  display: none;
}

@media (max-width: 1000px) {
  .header {
    padding: 20px 40px;
    position: relative;
  }

  .menu {
    width: 100%;
    justify-content: space-between;
  }

  .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    stroke: white;
  }

  .menuList {
    display: none;
    background-color: var(--azul-escuro-home);
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: fixed;
    gap: var(--min-space);
    top: 0;
    z-index: 50;
    left: 0;
    padding: var(--large-space);
    text-align: left;
  }

  .link {
    color: white;
  }

  .campaign {
    display: none;
  }

  .menuIcon {
    display: flex;
  }

  .socialMediasList {
    display: none;
  }
}

@media (max-width: 500px) {
  .cargo {
    height: 60px;
  }
}
