.link {
    /* Styling for the links */
    text-decoration: none;
    color: #353535;
    font-weight: 600;
    background-color: transparent;
    border: none;
    font-size: 16px;
    transition: .3s;
    cursor: pointer;
}

.link:hover {
    color: var(--azul-claro-home);
}

@media (max-width: 1000px) {
    .link {
        color: #fff;
    }
}