/* Container styles */
.container {
  width: 100%;
  display: flex;
  padding-top: 20px;
  gap: var(--large-space);
}

/* Candidate information styles */
.infoCandidato {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Blue card styles */
.cardBlue {
  width: 100%;
  height: 163px;
  background-color: var(--azul-claro-home);
  color: white;
  padding: 10px;
  margin-top: 143px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 97px;
}

/* Candidate phrase styles */
.fraseCandidato {
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
}

/* Candidate number styles */
.numeroCandidato {
  font-size: 64px;
  font-weight: 800;
  text-transform: uppercase;
}

/* Container for name and image styles */
.containerNomeImg {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Candidate image and name styles */
.imgNomeCandidato {
  width: 240px;
  object-fit: cover;
}

/* Content for person image styles */
.contentImgPerson {
  display: flex;
  width: 50%;
  object-fit: cover;
}

/* Person image styles */
.imgPerson {
  max-width: 683px;
  align-self: flex-end;
}
