/* Container styles */
.container {
  position: relative;
  width: 100%;
  display: flex;
  height: 70vh;
  padding-top: 20px;
  gap: var(--large-space);
  /* background-image: url('./backgorund.jpg'); */
}

/* Candidate information styles */
.infoCandidato {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Blue card styles */
.cardBlue {
  width: 100%;
  height: 163px;
  background-color: #fff;
  color: var(--azul-claro-home);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 50px;
  border-radius: 0px 20px 20px 0px;
  /* background-color: transparent; */
  /* color: #fff; */
}

/* Candidate phrase styles */
.fraseCandidato {
  font-size: 24px;
  font-weight: 400;
  /* text-transform: uppercase; */
}

/* Candidate number styles */
.numeroCandidato {
  font-size: 52px;
  font-weight: 800;
  text-transform: uppercase;
}

/* Container for name and image styles */
.containerNomeImg {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Candidate image and name styles */
.imgNomeCandidato {
  width: 240px;
  margin-right: 50px;
  object-fit: cover;
  margin-top: var(--min-space);
}

/* Content for person image styles */
.contentImgPerson {
  display: flex;
  max-width: 683px;
  object-fit: cover;
}

/* Person image styles */
.imgPerson {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Area background */
.areaBackgorund {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #0B5888;
}

.areaBackgorund video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .5;
}

@media (max-width: 1280px) {
  .cardBlue {
    padding-right: 30px;
  }
  .imgNomeCandidato {
    margin-right: 30px;
  }
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  .infoCandidato {
    width: 100%;
    gap: var(--min-space);
  }
  .cardBlue {
    padding: 0 var(--min-space);
  }

  .containerNomeImg {
    padding: 0 var(--min-space);
  }

  .imgNomeCandidato {
    margin: 0;
  }

  .cardBlue {
  }

  .contentImgPerson {
    position: absolute;
    bottom: 0;
    max-width: 383px;
  }
}

@media (max-width: 700px) {
  .container {
    position: static;
    height: 100%;
    align-items: center;
    gap: 0;
  }

  .cardBlue {
    position: static;
    margin: 0;
  }

  .containerNomeImg {
    position: static;
  }
  .infoCandidato {
    gap: 0;
    width: 100%;
    gap: var(--min-space);
  }

  .contentImgPerson {
    position: static;
  }
}
