.container {
    max-width: 1500px;
    margin: 0 auto;
    margin-top: var(--large-space);
    margin-bottom: var(--large-space);
}

/* Grid Propostas */
.gridProposta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--large-space);
    row-gap: var(--large-space);
    margin-top: var(--mid-space);
}

/* Card */
.card {
    display: flex;
}

/* Icon */
.areaIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    margin-right: var(--min-space);
    min-width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #C7C6C6;
}

.areaIcon svg {
    fill: var(--azul-claro-home);
    height: 24px;
}

/* Area Information */
.areaInformation span {
    color: var(--azul-claro-home);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

.areaInformation h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.areaInformation p {
    line-height: 140%;
    font-weight: 500;
    color: #363636;
}