.container {
  max-width: 1500px;
  margin: 0 auto;
  margin-top: var(--ultra-large-space);
  margin-bottom: var(--large-space);
}

.newsletter {
  display: flex;
  background-color: var(--verde-escuro-home);
  height: 400px;
  border-radius: 20px;
}

/* Lead Capture Area */
.leadCaptureArea {
  width: 50%;
  padding: 70px;
  color: #fff;
}

.leadCaptureArea h2 {
  position: relative;
  font-size: 32px;
  font-weight: 500;
}

.leadCaptureArea h2::after {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 0px;
  width: 15%;
  height: 7px;
  background-color: var(--amarelo-home);
}

.leadCaptureArea p {
  margin-top: var(--mid-space);
  margin-bottom: var(--mid-space);
  line-height: 140%;
}

.leadCaptureArea form {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  padding: 4px;
}

.leadCaptureArea form input {
  background-color: transparent;
  border: none;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 16px 20px;
  font-size: 16px;
}

.leadCaptureArea form input::placeholder {
  color: #fff;
}

.leadCaptureArea form input:focus {
  border: 0 none;
  outline: none;
}

.leadCaptureArea form button {
  background-color: var(--amarelo-home);
  color: #000;
  font-weight: 600;
  border: none;
  padding: 16px 40px;
  font-size: 16px;
}

/* Area Image */
.areaImage {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 50%;
}

.areaCandidateImg {
  position: absolute;
  max-width: 480px;
  bottom: 0;
  display: flex;
}

.imageCandidate {
  width: 100%;
  height: 100%;
  left: 100px;
}

.areaIamgebandeira {
  max-width: 50%;
}

.areaIamgebandeira img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
}

@media (max-width: 1100px) {
  .leadCaptureArea h2 br {
    display: none;
  }
}

@media (max-width: 1000px) {
  .newsletter {
    height: auto;
  }

  .leadCaptureArea {
    width: 100%;
  }

  .areaImage {
    display: none;
  }
}

@media (max-width: 1000px) {
  .leadCaptureArea {
    padding: 40px;
  }

  .leadCaptureArea h2 {
    font-size: 28px;
  }
}
