* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --verde-escuro-home: #209449;
  --azul-escuro-home: #0071b7;
  --azul-claro-home: #1085cd;
  --amarelo-home: #f3d70d;
  
  --font-white: #fff;
  --cinza-claro-home: #B1B1B1
  --cinza-escuro-home: #898989;

  /* Fonts */
  --font-header: 20px;

  /* SPACING */
  --min-space: 20px;
  --mid-space: 40px;
  --large-space: 80px;
  --ultra-large-space: 100px;
}
