* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-cargo: #209449;
  --azul-home: #0071b7;
  --azul-claro-home: #1085CD;
  --amarelo-home: #F3D70D;
  --font-white: #fff;

  /* Fonts */
  --font-header: 20px;

  /* SPACING */
  --min-space: 20px;
  --mid-space: 40px;
  --large-space: 80px;
  --ultra-large-space: 100px;
}
