* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --verde-escuro-home: #209449;
  --azul-escuro-home: #0071b7;
  --azul-claro-home: #1085cd;
  --amarelo-home: #f3d70d;
  
  --azul-escuro-home: #0044aa;
  --azul-claro-home: #0044aa;
  --amarelo-home: #f8d92b;
  --verde-escuro-home: #ffe600;
  --newsletter-second-color: #0044aa;

  --newsletter-cor-text: #000;
  
  --font-white: #fff;
  --cinza-claro-home: #B1B1B1
  --cinza-escuro-home: #898989;

  /* Fonts */
  --font-header: 20px;

  /* SPACING */
  --min-space: 20px;
  --mid-space: 40px;
  --large-space: 80px;
  --ultra-large-space: 100px;
}

.banner {
  position: fixed;
  top: 0;
  width: 25vw;
  min-height: 100vh ;
  background-color: #fff;
  left: 0;
  z-index: 99;
}

.banner#banner-2 {
  background-color: var(--amarelo-home);
  left: 25vw;
}
.banner#banner-3 {
  background-color: var(--azul-claro-home);
  left: 50vw;
}
.banner#banner-4 {
  background-color: var(--verde-escuro-home);
  left: 75vw;
}
