.container {
  /* Styling for the container element */
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  gap: var(--mid-space);
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}

.nameInfoCandidate {
  /* Styling for the nameInfoCandidate element */
  color: var(--azul-claro-home);
  font-size: 36px;
  font-weight: 600;
  margin-bottom: var(--min-space);
}

.textBackground {
  /* Styling for the textBackground element */
  /* background-color: var(--amarelo-home); */
  color: var(--azul-claro-home);
  padding: 0 5px;
}

.contentTextCandidate {
  /* Styling for the contentTextCandidate element */
  display: flex;
  flex-direction: column;
  gap: var(--min-space);
}

.paragraphCandidate {
  /* Styling for the paragraphCandidate element */
  max-width: 800px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #3E3E3E;
}

/* Stats */
.stats {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 10px;
}

.stats li:not(:last-child) {
  margin-right: 10px;
}

.stats li .topText {
  font-size: 14px;
  color: #000;
  letter-spacing: 1.4px;
  font-weight: 500;
  text-transform: uppercase;
}

.stats li p {
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--azul-claro-home);
  
}

.stats li p b {
  color: var(--amarelo-home);
  color: #000;
  font-weight: 600;
}

.phraseCandidate {
  /* Styling for the phraseCandidate element */
  color: rgb(24, 24, 24);
  font-size: 20px;
  line-height: 140%;
  font-weight: 600;
  max-width: 400px;
}

.marksColor {
  /* Styling for the marksColor element */
  color: var(--azul-claro-home);
}

/* Area More Info */
.areaMoreInfo {
  display: flex;
  align-items: center;
}

.birthCandidate {
  display: flex;
  flex-direction: column;
  color: var(--azul-claro-home);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}


.nameTextBold {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  line-height: 160%;
}

.contentInfoCandidate {
  /* Styling for the contentInfoCandidate element */
  display: flex;
  flex-direction: column;
}

.contentImgCandidate {
  /* Styling for the contentImgCandidate element */
  background: linear-gradient(to right, #1085cd, #10a0cd);
  border-radius: 20px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 500px;
  overflow: hidden;
}

.ImgCandidate {
  /* width: 90%; */
  /* Styling for the ImgCandidate element */
  height: 100%;
  object-fit: cover;
  /* padding: 0 20px; */
}

@media (max-width: 1550px) {
  .container {
    padding: 0px 80px;
  }
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }

  .contentImgCandidate {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .container {
    padding: 0px 20px;
  }

  .nameInfoCandidate {
    font-size: 28px;
    margin-bottom: var(--min-space);
  }

  .ImgCandidate {
    height: 100%;
    width: 100%;
  }

  .contentImgCandidate {
    width: 100%;
    height: 300px;
  }

  .stats li .topText {
    font-size: 14px;
  }

  .stats li p {
    font-size: 20px;
  }
}

@media (max-width: 550px) {
  .stats {
    flex-direction: column;
  }

  .stats li {
    width: 90%;
  }
}
