.container {
    max-width: 1500px;
    margin: 0 auto;
    margin-top: var(--min-space);
}

.title {
    color: var(--azul-claro-home);
    font-size: 36px;
    font-weight: 600;
}

/* Area Agenda */
.areaAgenda {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
    column-gap: 40PX;
    margin-top: var(--mid-space);
}

/* Card */
.card {
    position: relative;
    display: flex;
    background-color: #f7f7f7;
    /* border: 1px solid #ebebeb; */
    border-radius: 20px;
}

.decorator {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #fff;
    height: 30px;
    width: 40px;
    border-radius: 0px 0px 0px 10px;
}

/* .decorator::after {
    content: '';
    position: absolute;
    left: -10px;
    top: 0px;
    background-color: #fff;
    height: 10px;
    width: 10px;
    border-radius: 0px 0px 0px 0px;

} */

.containerDataArea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.dataArea {
    background-color: var(--azul-claro-home);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    border-radius: 50%;
}

/* Information Area */
.informationArea {
    padding: 28px 32px 28px 0px;
}

.informationArea h3 {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.inferiorInformation {
    display: flex;
    margin-top: 10px;
}

.inferiorInformation span {
    display: flex;
    align-items: center;
    margin-right: var(--mid-space);
    color: #767676;
    font-size: 18px;
}

.inferiorInformation span svg {
    fill: var(--azul-claro-home);
    height: 20px;
    margin-right: 10px;
}

@media (max-width: 1550px) { 
    .container {
      padding: 0px 80px;
    }
}

@media (max-width: 1000px) {
    .areaAgenda {
        grid-template-columns: 1fr;
    }

    .card {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .container {
        padding: 0px 20px;
    }

    .title {
        font-size: 28px;
      }

      .areaAgenda {
        margin-top: var(--min-space);
      }

    .dataArea {
        font-size: 24px;
    }

    .inferiorInformation {
        flex-direction: column;
        margin-top: 0px;
    }

    .spot {
        margin-top: 20px;
        margin-right: 0px;
    }

    .inferiorInformation span svg {
        height: 18px;
    }

    .spot p {
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    .card {
        flex-direction: column;
    }

    .containerDataArea {
        justify-content: start;
        padding: 0px;
    }

    .dataArea {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        margin-top: 20px;
        height: 60px;
        width: 60px;
        min-width: none;
        border-radius: 50%;
    }

    .informationArea {
        padding: 28px 32px 28px 32px;
    }
}