.container {
    max-width: 1500px;
    margin: 0 auto;
    margin-top: var(--min-space);
}

.title {
    color: var(--azul-claro-home);
    font-size: 36px;
    font-weight: 600;
}

/* Area Agenda */
.areaAgenda {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: var(--mid-space);
}

/* Card */
.card {
    display: flex;
    background-color: #F8FDFF;
    border: 1px solid #CCE5F4;
    border-radius: 20px;
}

.dataArea {
    background-color: var(--azul-claro-home);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    border-radius: 20px 0px 0px 20px;
}

/* Information Area */
.informationArea {
    padding: 28px 32px;
}

.informationArea h3 {
    font-size: 20px;
    font-weight: 500;
    color: #3C3C3C;
}

.inferiorInformation {
    display: flex;
    margin-top: 24px;
}

.inferiorInformation span {
    display: flex;
    margin-right: var(--mid-space);
    color: #767676;
    font-size: 18px;
}

.inferiorInformation span svg {
    fill: var(--azul-claro-home);
    height: 24px;
    margin-right: 10px;
}

@media (max-width: 1550px) { 
    .container {
      padding: 0px 80px;
    }
}

@media (max-width: 1000px) {
    .areaAgenda {
        grid-template-columns: 1fr;
    }

    .card {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .container {
        padding: 0px 20px;
    }

    .title {
        font-size: 28px;
      }

      .areaAgenda {
        margin-top: var(--min-space);
      }

    .dataArea {
        font-size: 24px;
    }

    .inferiorInformation {
        flex-direction: column;
        margin-top: 0px;
    }

    .spot {
        margin-top: 20px;
        margin-right: 0px;
    }

    .inferiorInformation span svg {
        height: 18px;
    }

    .spot p {
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    .card {
        flex-direction: column;
    }

    .dataArea {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        margin-top: 20px;
        height: 60px;
        width: 60px;
        min-width: none;
        border-radius: 50%;
    }
}